@charset "utf-8";

.row { max-width:1167px; margin:0 auto; }
.skip a { 
    display:block;
    background:#000; color:#fff;
    text-align:center; width: 1px;  height: 1px;
    overflow:hidden; position:absolute; 
    top:-100px
}
.skip a:focus { 
    width: 100%;  height:auto;
    padding:10px 0px; position:fixed;
    top:0px; z-index:9999999; 
}    

#header { 
    position:fixed; width:100%; 
    top:0; left:0; z-index:99999; background:#fff;
    box-shadow:0px 3px 3px #eee 
}
.topmenu .row { position:relative }    
.topmenu { 
    background:#f76f6f;
    color:rgba(255,255,255,0.7);
    padding:10px 0; letter-spacing:-0.5px; 
}
.topmenu .search_box ::placeholder { color: #ffffffb3; }
.topmenu .search_box { position: absolute; top: 0; left: 150px; }
.topmenu .search_box fieldset { 
    border: 1px solid #ffffffb3;
    padding-right: 10px; border-radius: 2px; } 
.topmenu .search_box i { background-color: #ffffffb3; }
.topmenu .search_box input { 
    border: none; padding: 4px 0.5em; 
    background: none; outline: none; }
.topmenu a { transition:all 0.5s;}     
.topmenu a:hover {color:rgb(255, 255, 255, 1) }    
.topmenu .sns a { padding-right:10px; font-size:12.2px;  }
.topmenu .sns a:first-child span { font-size:11px }
.topmenu .login { position:absolute; top:0; right:0; color:#000 }
.topmenu .login a { padding-left:10px; font-size:11px }
.logoNav { position:relative; height:76px;  }
.logoNav h1 { 
    color:#ffae3d; 
    font-size:26.25px; line-height:76px;
    font-weight:bold;  
}

.logoNav .nav { position:absolute; top:0; right:0; }
.logoNav .nav .depth1 > li { 
    display:inline-block; 
    font-size:15.75px; line-height:76px;  position:relative; 
    padding-left:30px; font-weight:bold;     
    transition:all 0.5s 
}
.logoNav .nav .depth1 > li:hover { color:#ffd23c; }
.logoNav .nav .depth1 > li:first-child { color:#ffd23c }
.logoNav .nav .depth1 > li > a:after { 
    content:'\f078';
    font-family:'Font Awesome 5 Free';
    font-weight:900;
    color:#ddd; padding-left:10px; 
}
.logoNav .nav .depth1 > li:first-child > a:after,
.logoNav .nav .depth1 > li:nth-child(5) > a:after { visibility: hidden;}
.logoNav .depth2 { 
    position:absolute; top:85%; 
    left:0; width:168px; background:#fff;
    border-radius:5px; padding:0 15px;
    box-shadow:0px 0px 15px #ddd; display:none; 
}
.logoNav .depth2:before { 
    content:'';
    position:absolute; bottom:100%; left:40px;
    border-bottom:10px solid #fff;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
}    
.logoNav .depth1 > li:hover .depth2 { display:block }    
.logoNav .depth2 > li { 
    line-height:38px;
    font-size:16px; color:#ffae3d }    


#footer { text-align:center; font-size:12.25px }    
.footerMenu { 
    background:#eee;
    color:#333; padding:10px 
}
.footerMenu a { padding-left:11px; }  
.footerMenu a:before { 
    content:'|'; 
    padding-right:11px;
    font-size:6px; position:relative; top:-1px;
}  
.footerMenu a:first-child:before { display:none }

.comInfo { 
    background:#222;
    color:rgba(255,255,255,0.5);
    padding:40px 0 
}
.comInfo .sns a { 
    font-size:17px; padding:0px 10px 10px;
    display:inline-block;
}    
.comInfo .info span { letter-spacing:-1px; padding-left:5px }  
.comInfo .info span:before { 
    content:'|'; 
    padding-right:7px; font-size:6px; 
    position:relative; top:-1px; 
}  
.copyright { 
    background:#0a0a0a;
    font-size:10.5px; padding:10px 0px; 
    color:#333; 
}