@charset "utf-8";
@import "reset.css";
@import "common.css";

#login_page { padding:217px 0 100px ; }
#login_page h2 { text-align: center; font-size: 30px; 
                padding-bottom: 30px; }
#login_page .login_content { 
    padding: 150px 0;
    border: 1px solid #ccc; 
    text-align: center;
    margin-top: 20px;
} 
#login_page .login_content .idpw_box { 
    display: inline-block; margin-right: 5px; }
#login_page .login_content .idpw_box label { 
    width: 100px;
    display: inline-block; text-align: left;
    line-height: 40px;
    margin: 10px 0;
}
#login_page .login_content .idpw_box input { 
    width: 200px; height: 40px; 
    line-height: 40px;
    border: 1px solid #ccc;
    vertical-align: top;
    margin: 10px 0; padding: 0 1em; 
}
#login_page .login_content button { 
    width: 100px; height: 100px;
    border: none; 
    background: #fa3c3c; color: #fff; 
    vertical-align: top;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 4px;  }
#login_page .login_form .check { margin: 20px 370px 0;
text-align: laft; }
