@charset "utf-8";

@media only screen and (max-width:1170px) {
    .row { padding:0 10px }
    .topmenu .login { position:absolute; top:0; right:10px; color:#000 }

}

@media only screen and (max-width:1066px){
    .comInfo .info > div { display:block }
    .comInfo .info div:nth-child(2) span:first-child:before { display:none }
}

@media only screen and (max-width:992px) {
    .logoNav { position:relative; height:auto; }
    .logoNav h1 { color:#ffae3d; 
        font-size:26.25px; padding:24.875px 0px 0px;
        font-weight:bold; text-align:center;   }
    .logoNav .nav { position:static; top:0; right:0;
            text-align:center; }
}

@media only screen and (max-width:841px) {
    .topmenu .login { position:absolute; top:0; right:10px; color:#000; display:none }

    .topmenu .search { position:absolute; top:0; right:10px; transform:translate(0%) }

    .logoNav h1 { color:#ffae3d; 
        font-size:26.25px; 
        padding:30px 0px;
        font-weight:bold; text-align:center;   }
    .logoNav .open_nav { display:block;
        position:absolute; top:50%; right:10px; 
        font-size:25px; transform:translateY(-50%);
    }         
    .logoNav .close_nav { display:none;
        position:absolute; top:50%; right:10px; 
        font-size:25px; transform:translateY(-50%);
    } 
    .logoNav .nav { position:static; top:0; right:0;
        text-align:center; display:none;
    }
}

@media only screen and (max-width:768px){

    #footer { text-align:left; font-size:12.25px } 
    .footerMenu a { padding-left:0px; display:block; 
        line-height:1.5     }  
    .footerMenu a:before { content:'|'; 
    padding-right:11px;
    font-size:6px; position:relative; top:-1px; display:none; 
}  

    .comInfo .info > div { display:block }
    .comInfo .info div:nth-child(2) span:first-child:before { display:none }
    .comInfo .info > div span { display:block; line-height:1.5em }
    .comInfo .info span:before { content:'|'; 
        padding-right:7px; font-size:6px; 
        position:relative; top:-1px; 
        display:none; 
    }  
}

@media only screen and (max-width:500px) {
    .topmenu .search input { border:none; background:none; color:#fff; padding-left:0.5em;
        outline:none; width:100px }

}