@charset "utf-8";

@media only screen and (max-width:1170px) {
    .row { padding: 0 10px }
    .topmenu .login { position:absolute; top:0; right: 10px; color:#000 }
    
}
@media only screen and (max-width:992px) {
    .logoNav { position:relative; height:auto; text-align: center; }
    .logoNav h1 { 
        color:#ffae3d; 
        font-size:26.25px; padding: 24.875px 0 0;
        font-weight:bold; text-align: center; }
    .logoNav .nav { position: static; top: 0; right: 0; text-align: center; }
}
@media only screen and (max-width:768px) {
    .logoNav .nav { position:absolute; top:0; right:0; display: none; }
}